:root{
    --color-1 : #000000;
    --color-2 : #FEAF00;
    --color-3 : #FFFFFF;
    --color-4 : #C4C4C4;
    --color-5 : #ACACAC;
    --color-6 : #6C6C6C;
    --color-7 : #E5E5E5;
    --color-8 : #F8D442;
    --color-9 : #F8F8F8;
    --color-10 : #F2EAE1;
    --color-11 : #CDCDCD;
    --color-12 : #74C1ED;
    --color-13 : #EE95C5;
    --color-14 : #F0F9FF;
    --color-15 : #F6C762;
    --color-16 : #FDFDFD;
    --color-17 : #FEF6FB;
    --color-18 : #FEFBEC;
    --color-19 : linear-gradient(180deg, #FEAF00 0%, #F8D442 100%);
    ;
}



@font-face {
    font-family: 'Montserrat-Black';
    src: url(../storage/font/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url(../storage/font/Montserrat-BlackItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../storage/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url(../storage/font/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(../storage/font/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url(../storage/font/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url(../storage/font/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: 'Montserrat-ExtraLightItalic';
    src: url(../storage/font/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url(../storage/font/Montserrat-Italic.ttf);
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../storage/font/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url(../storage/font/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../storage/font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url(../storage/font/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../storage/font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../storage/font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url(../storage/font/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../storage/font/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'Montserrat-ThinItalic';
    src: url(../storage/font/Montserrat-ThinItalic.ttf);
}