@import url(variable.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-areas: "nav header header header header header header header header header header header header"
                         "nav main main main main main main main main main main main main";
}




/*-----------------------------HEADER------------------------------------*/
.header{
    grid-area: header;
    width: 1170px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.return {
    margin: 21px 0 21px 30px;
}
.container_options {
    display: flex;
    margin: 20px 51px 20px 0;
    gap: 27px;
}
.search {
}
.noti {
}


/*-----------------------------NAVEGATION------------------------------------*/

.main_container {
    
    display: flex;
    flex-direction: row;
}

nav {
    width: 290px;
    height: 900px;
    background-color: var(--color-10);
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.container_logo {
    width: 219.5px;
    height: 24px;
    margin-top: 18px;

}

.container_logo a {
    display: flex; 
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.container_logo a h1{
    font-family: "Montserrat-Bold";
    font-size: 20px;
    color: var(--color-1);
}


.container_user {
    width: 130px;
    height: 196px;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.container_user img{
    width: 130px;
    height: 214px;
    border-radius: 100%;
}
.container_user h2{
    font-family: "Montserrat-Bold";
    font-size: 17px;
    color: var(--color-1);
}
.container_user label{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-2);
}
.container_menu {
    height: auto;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu_nav {
    background: green;
}
.log_out {
}






/*-----------------------------MAIN_CONTENT-----------------------------------*/


main{
    grid-area: main;
}

