<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="form_container">
            <div class="form">
                <div class="title">
                    <img src="../storage/img/Line.png" alt="">
                    <p>CRUD OPERATIONS</p>
                </div>
                <div class="sign_in">
                    <h1>SIGN IN</h1>
                </div>
                <div class="text">
                    <p>Enter your credentials to access your account</p>
                </div>
                <div class="email">
                    <form action="post">
                        <div class="user">
                            <input type="text" required>
                            <label for="">Enter your E-mail</label>
                        </div>
                        <div class="password">
                            <input type="text" required>
                            <label for="">Enter Your Password</label>
                        </div>
                    </form>
                </div>
                <button type="submit" value="SIGN IN">SIGN IN</button>
                <div class="forgot">
                    Forgot your password? <a href="#">Reset password</a>
                </div>
            </div>

        </section>
    </main>
</body>
</html>