<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/workspace.css">
    <script src="../js/main.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="return">
            <a href="#">
                <img src="/storage/img/Arrow.png">
            </a>
        </div>
        <div class="container_options">
            <div class="search">
                <div class="search">
                    <img src="/storage/img/search 1.sg" alt="">
                    <input type="text" placeholder="Buscar...">
                </div>
            </div>
            <div class="noti">
                <a href="#">
                    <img src="/storage/img/Notification.png">
                </a>
            </div>
        </div>
    </header>
    <nav>
        <div class="container_logo">
            <a href="#">
                <img src="/storage/img/Line_Logo.png" alt="">
                <h1>CRUD OPERATIONS</h1>
            </a>
        </div>
        <section class="container_user">
            <img src="/storage/img/Profile_Img.png" alt="">
            <h2>Karthi Madesh</h2>
            <label>Admin</label>
        </section>
        <section class="container_menu">
            <div class="menu_nav">
                <img src="/storage/img/Home_menu_nav.svg" alt="">
                <button onclick="changeContent('Home')">Home</button>
            </div>
            <div class="menu_nav">
                <img src="/storage/img/Course_menu_nav.png" alt="">
                <button onclick="changeContent('Course')">Course</button>
            </div>
            <div class="menu_nav">
                <img src="/storage/img/Students_menu_nav.png" alt="">
                <button onclick="changeContent('Students')">Students</button>
            </div>
            <div class="menu_nav">
               <img src="/storage/img/Payment_menu_nav.png" alt="">
                <button onclick="changeContent('Payment')">Payment</button>
            </div>
            <div class="menu_nav">
                <img src="/storage/img/Report_menu_nav.png" alt="">
                <button onclick="changeContent('Report_menu_nav')">Report_menu_nav</button>
            </div>
            <div class="menu_nav">
                <img src="/storage/img/Settings_menu_nav.png" alt="">
                <button onclick="changeContent('Settings')">Settings</button>
            </div>
            <div class="log_out">
                <img src="/storage/img/Sign_Out_menu_nav.png" alt="">
                <button onclick="changeContent('Logout')">Logout</button>
            </div>
        </section>
    </nav>

    <main id="content">

    </main>
</body>
</html>