<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="return">
            <a href="#">
                <img src="/storage/img/Arrow.png">
            </a>
        </div>
        <div class="container_options">
            <div class="search">
                <div class="search">
                    <img src="/storage/img/search 1.sg" alt="">
                    <input type="text" placeholder="Buscar...">
                </div>
            </div>
            <div class="noti">
                <a href="#">
                    <img src="/storage/img/Notification.png">
                </a>
            </div>
        </div>
    </header>
    <nav>
        <section class="main_container">
            <section class="side_1">
                <section class="container_profile">
                    <div class="container_logo">
                        <a href="">    
                            <div class="side_bar">
                                <img src="/storage/img/Line_Logo.png" alt="">
                            </div>
                            <div class="brand_name">
                                <h1>CRUD OPERATIONS</h1>
                            </div>
                        </a>
                    </div>
                </section>
                <section class="container_photo">
                    <div class="photo">
                        <img src="/storage/img/Profile_Img.png" alt="">
                    </div>
                </section>
                <section class="container_name">
                    <div class="name">
                        <h1>Karthi Madesh</h1>
                    </div>
                    <div class="rol">
                        <p>Admin</p>
                    </div>
                </section>
                <section class="container_menu">
                   <a href=""></a> 
                        <div class="menu">
                            <div class="icon">
                                <img src="/storage/img/Home_Menu.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Home</h2>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="icon">
                                <img src="/storage/img/Course_Menu.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Course</h2>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="icon">
                                <img src="/storage/img/Students_Menu.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Students</h2>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="icon">
                                <img src="/storage/img/Payment_Menu.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Payment</h2>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="icon">
                                <img src="/storage/img/Report_Menu.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Report_Menu</h2>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="icon">
                                <img src="/storage/img/Settings_Menu.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Settings</h2>
                            </div>
                        </div>
                </section>
                <section class="container_logout">
                    <div class="log_out">
                        <div class="icon_2">
                            <img src="/storage/img/Sign_Out_Menu.png" alt="">
                        </div>
                        <div class="text_2">
                            <h2>Logout</h2>
                        </div>
                    </div>
                </section>
            </section>
            
        </section>    
    </nav>
</body>
</html>